<!DOCTYPE html>
<html>
<!--<head>
    <title>Matheus Fagundes</title>
    <!-- link to main stylesheet -->
   <!-- <link rel="stylesheet" type="text/css" href="/css/main.css">
</head> -->
<title>Matheus Fagundes</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

	
<body background-color: lightblue;>
<nav>
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="/" class="w3-bar-item w3-button"><b>Matheus Fagundes</b></a>
    	<!-- Float links to the right. Hide them on small screens -->
    	<div class="w3-right w3-hide-small">
      	    <a href="/projects" class="w3-bar-item w3-button">Projects</a>
	    <a href="/blog" class="w3-bar-item w3-button">Blog</a>
	    <a href="/cv" class="w3-bar-item w3-button">CV</a>
      	    <a href="/about" class="w3-bar-item w3-button">About</a>
      	    <a href="#contact" class="w3-bar-item w3-button">Contact</a>
	    <!--<a href="https://github.com/mf99274">My GitHub</a> -->
		
	    <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
		  Dropdown button
                </button>
	        <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                </div>
            </div> 		    
    	</div>
     </div>
</div>
</nav>
</body>
</html>

