<!DOCTYPE html>
	<html>
		<head>
			<title>PhD Candidate</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="https://github.com/mf99274">My GitHub</a></li>	
				<li><a href="/Projects">My Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mf99274@uga.edu">email</a></li>
	        		<li><a href="https://github.com/mf99274">github.com/mf99274</a></li>
				</ul>
			</footer>
		</body>
	</html>
